*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #7affdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    position: relative;
    width: 450px;
    height: 420px;
    background-color: #00a2ff;
    border-radius: 50%;

    .face{
        position: absolute;
        width: 380px;
        height: 330px;
        background-color: #fff;
        border-radius: 50%;
        top: 84px;
        left: 30px;

        .eye-1{
            position: absolute;
            width: 110px;
            height: 125px;
            background-color: #fff;
            border: 1px solid #9d9d9d;
            border-radius: 50%;
            top: -60px;
            left: 85px;
        }

        .eye-2{
            position: absolute;
            width: 110px;
            height: 125px;
            background-color: #fff;
            border: 1px solid #9d9d9d;
            border-radius: 50%;
            top: -60px;
            left: 190px;
        }
    }
}
