*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #7affdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    position: relative;
    width: 450px;
    height: 420px;
    background-color: #00a2ff;
    border-radius: 50%;
    box-shadow: inset -10px -10px 5px #036fad;

    .face{
        position: absolute;
        width: 380px;
        height: 330px;
        background-color: #fff;
        border-radius: 50%;
        top: 84px;
        left: 30px;

        .eye-1{
            position: absolute;
            width: 110px;
            height: 125px;
            background-color: #fff;
            border: 1px solid #9d9d9d;
            border-radius: 50%;
            top: -60px;
            left: 85px;
            box-shadow: inset -3px -10px 5px #9d9d9d;

            .pupil-1{
                position: absolute;
                width: 40px;
                height: 55px;
                border-radius: 50%;
                background-color: #0e0e0e;
                top: 30px;
                left: 60px;
                box-shadow: inset -3px -10px 5px #2a2a2a;
            }
        }

        .eye-2{
            position: absolute;
            width: 110px;
            height: 125px;
            background-color: #fff;
            border: 1px solid #9d9d9d;
            border-radius: 50%;
            top: -60px;
            left: 190px;
            box-shadow: inset -3px -10px 5px #9d9d9d;

            .pupil-2{
                position: absolute;
                width: 40px;
                height: 55px;
                border-radius: 50%;
                background-color: #0e0e0e;
                top: 30px;
                left: 5px;
                box-shadow: inset -3px -10px 5px #2a2a2a;
            }
        }

        .nose{
            position: absolute;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: #c90000;
            top: 36px;
            left: 165px;
            box-shadow: inset -10px -10px 5px #8f0000;
        }

        .mouth-line{
            position: absolute;
            height: 120px;
            border-left: 2px solid #0e0e0e;
            top: 91px;
            left: 193px;
        }

        .whisker-right-1{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent;
            top: 100px;
            left: 20px;
            border-radius: 100%/10px 40px 0 0;
            transform: rotate(10deg);
        }

        .whisker-right-2{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent;
            top: 140px;
            left: 18px;
            border-radius: 100%/10px 40px 0 0;
            transform: rotate(2deg);
        }

        .whisker-right-3{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent;
            top: 185px;
            left: 20px;
            border-radius: 100%/10px 40px 0 0;
            transform: rotate(-10deg);
        }

        .whisker-left-1{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent transparent;
            top: 100px;
            left: 225px;
            border-radius: 100%/30px 10px 0 0;
            transform: rotate(-10deg);
        }

        .whisker-left-2{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent transparent;
            top: 140px;
            left: 230px;
            border-radius: 100%/30px 20px 0 0;
            transform: rotate(-2deg);
        }

        .whisker-left-3{
            position: absolute;
            width: 130px;
            height: 100px;
            border-top: 2px solid #000;
            border-color: #000 transparent transparent transparent;
            top: 180px;
            left: 230px;
            border-radius: 100%/30px 20px 0 0;
            transform: rotate(5deg);
        }

        .mouth{
            position: absolute;
            width: 75px;
            height: 90px;
            border-radius: 100px 100px 90px 90px;
            border: 2px solid #c13d3d;
            background-color: #c13d3d;
            top: 210px;
            left: 153px;
            overflow: hidden;

            .tounge{
                position: absolute;
                width: 100px;
                height: 90px;
                border-radius: 50%;
                background-color: #ff4e4e;
                top: 20px;
                left: 5px;
            }
        }
    }
}
